body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 14px;
  background-color:rgb(247, 247, 247); /* Replace with your desired color */
}

/* ------------------------------------------- Titles ----------------- */
h1 {
  font-family: "Cairo", sans-serif;
  margin-block-start: 20px;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.02em;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}
h2 {
  font-family: "Cairo", sans-serif;
  margin-top: 190px !important;
  margin-block-start: 20px;
  border-bottom: 0.1px solid rgb(232, 232, 232);
  padding-bottom: 0.5rem;
  font-size: 1.85rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  transition: color 0.2s ease;
  color: #27272a;
}
h2:first-of-type {
  margin-top: 0;
}

h3 {
  font-family: "Cairo", sans-serif;
  margin-top: 2rem;
  margin-block-start: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #27272a;
}

.header-section-number {
  font-family: "Cairo", sans-serif;
  color: #a1a1aa;
}

/* ------------------------------------------- Text ----------------- */
p {
  line-height: 28px;
}
p:not(:first-child) {
  margin-top: 12px;
}
a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

/* ------------------------------------------- Lists ----------------- */
ul {
  font-family: "Cairo", sans-serif;
  margin-left: 1.5rem;
  list-style-type: disc;
}
ul > li {
  margin-top: 0.5rem;
}

/* ------------------------------------------- Buttons used for tabs ----------------- */
.nav-pills .nav-link {
  font-family: "Cairo", sans-serif;
  padding: 10px 18px;
  margin-right: 8px;
  color: var(--primary-color);
  background-color: white;
  border: 0.1px solid rgb(232, 232, 232);
  border-radius: 10px;
}
.nav-pills .nav-link.active {
  color: white;
  background-color: var(--primary-color);
  border: 0.1px solid rgb(255, 255, 255);
}
.nav-pills .nav-link:hover {
  color: white;
  background-color: #71717a;
  border: 0.1px solid rgb(255, 255, 255);
}

ul.nav.nav-tabs {
  font-family: "Cairo", sans-serif;
  margin: 0px;
  border: none;
}
.tab-content {
  border: none;
  margin-top: 10px;
  padding: 0px;
}

/* ------------------------------------------- Table of content ----------------- */
.sidebar nav[role="doc-toc"] ul > li > a.active,
.sidebar nav[role="doc-toc"] ul > li > ul > li > a.active {
  font-family: "Cairo", sans-serif;
  border-left: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
}
.sidebar nav[role="doc-toc"] ul > li > a:hover,
.sidebar nav[role="doc-toc"] ul > li > ul > li > a:hover {
  color: var(--primary-color) !important;
}
#TOC {
  font-family: "Cairo", sans-serif;
  top: 50%;
  position: relative;
  transform: translate(0, -50%);
}

#toc-title {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
}


/* ------------------------------------------- Horizontal separator ----------------- */
hr {
  margin-top: 40px;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid black;
  width: 0;
  animation: separator-width 2s ease-in-out forwards;
}
@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 200px;
  }
}

/* ------------------------------------------- Footer ----------------- */
.footer-container {
  font-family: "Cairo", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* ------------------------------------------- DT table: smaller font ----------------- */
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 10px 16px;
  font-size: 0.9rem;
}

/* ------------------------------------------- Callout ----------------- */
div.callout.callout {
  padding: 0.7em 0.7em;
  border-left: rgb(219, 218, 218) 4px solid;
  border-right: none;
  border-top: none;
  border-bottom: none;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem, 0.75rem;
}

.callout-title-container {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  color: black !important;
  font-size: 1.25rem;
  padding-left: .5em;
  padding-right: .5em;
  margin-bottom: 25px;
}

.callout.callout-style-simple .callout-body {
  font-size: .825rem !important;
  font-weight: 400;
  color: #71717a;
}

.callout.callout-style-minimal .callout-body {
  font-size: .825rem !important;
  font-weight: 400;
  color: #71717a;
}

button {
  font-family: "Cairo", sans-serif;
  color: var(--primary-color);
  background-color: white;
  border: var(--primary-color) 1px solid;
  border-radius: 1px;
  padding: 16px;
}

.grey-section {
  background-color: #a1a1aa;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.g-col-6, .g-col-4, .g-col-3, .g-col-2 {
  display: flex
}